.MovieList {
    &_list {
        position: relative;
    }
    &_header {
        display: flex;
        flex: 1;
        justify-content: space-between;
        margin-left: -10px;
        margin-right: -10px;
        padding-top: 25px;
        padding-bottom: 20px;
    }

    &_filter {
        display: flex;
        align-items: center;

        >span {
            margin-right: 15px;
        }
    }

    &_title {
        font-size: 20px;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    &_item {
        padding: 5px;

        &--featured {
            padding: 5px 6.5px;
        }
    }
}